@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);

html, body {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background-image {
  width: 50%;
  height: 50%;
  left: 400px;
  top: 200px;
  position: absolute;
  background: url('https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1500&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=2900.jpg') no-repeat left center / cover;
}

/* Not needed styles */

h1 {
  margin: 0;
  padding: 0;
  pointer-events: none;
  white-space: nowrap;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  z-index: 9;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}